<div class="relative w-screen h-screen  flex flex-col bg-gradient-to-bl from-gray-200 to-blue-200 ">
    <div class="px-2 lg:px-4 xl:px-8 bg-indigo-950 bg-gradient-to-r from-indigo-950 to-indigo-600 flex items-center">
        <div class="h-16 flex items-center">
            <div class="flex items-end select-none">
                <button class="w-10 h-10  rounded-full " (click)="gotoHome()"
                    title="Data Collector = Collect + Copy + Code + Convert">
                    <img class="w-full h-full" src="assets/images/logo.png">
                </button>
                <div class="flex items-center space-x-4">
                    <a class="text-xl text-white font-bold">
                        ata Collector
                    </a>
                    <span class="hidden lg:flex items-center space-x-4">
                        <span class="text-gray-200 ">|</span>
                        <span class="text-xl text-rose-500 rounded-full bg-white px-2 py-1 bg-opacity-10">Collect</span>
                        <span class="text-xl text-yellow-400 rounded-full bg-white px-2 py-1 bg-opacity-10">Copy</span>
                        <span class="text-xl text-green-400 rounded-full bg-white px-2 py-1 bg-opacity-10">Code</span>
                        <span class="text-xl text-sky-400 rounded-full bg-white px-2 py-1 bg-opacity-10">Convert</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="flex-1 hidden lg:flex items-center justify-end mx-4 space-x-2">
            <ng-container *ngFor="let tab of tabs">
                <button (click)="selectedTab = tab" [title]="tab"
                    [ngClass]="selectedTab == tab ? 'bg-indigo-800' :'hover:bg-indigo-500 focus:bg-indigo-500 active:bg-indigo-800' "
                    class="text-white text-lg flex items-center space-x-2 border border-transparent rounded-md px-2 sm:px-4 py-1  active:border-transparent">
                    {{tab}}
                </button>
            </ng-container>
        </div>
    </div>


    <div class="flex-1 w-full h-full ">
        <router-outlet></router-outlet>
    </div>
</div>